.miniNavContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--blueHover);
    box-shadow: -2px 0px 4px 1px rgba(65, 65, 65, 0.349);
    width: 200px;
    height: 100vh;
    border-top-left-radius: 140px;
    border-bottom-left-radius: 250px;
}

.miniLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.miniNavLink {
    justify-content: flex-end;
    text-align: left;
    padding: 6px 20px 6px 0px;
    font-size: 12pt;
    color: whitesmoke;
    font-family: 'Linden Hill', serif; 
    text-decoration: none;
    width: 70px;
}

.miniNavActive {
    justify-content: flex-end;
    color: whitesmoke;
    font-size: 12pt;
    padding: 6px 50px 6px 0px;
    text-align: left;
    font-family: 'Linden Hill', serif; 
    width: 70px;
    text-decoration: none;
}

.miniNavActive::before {
    content: "○  ";
}

.miniNavHeader {
    display: flex;
    justify-content: flex-end;
}

.miniNavHeader img{
    width: 35px;
    margin: 40px 35px 30px 0;
}

.miniNavHeader h1{
    color: var(--lightGray);
    font-size: 14pt;
}
