.desc {
    padding-left: 5px;
}

.desc p {
    margin-top: 2px;
    padding-left: 0;
}

.switch p {
    padding-right: 5px;
}

.flexRow h4 {
    margin: 0;
    color: var(--darkGray)
}

img {
    width: 100%;
  
}

.mainContainer{
    display: flex;
    justify-content: center;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
    width: 90%;
}

.flexRow {
    flex: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 10px;
}

.desc h5 {
    font-weight: 800;
    color: var(--blueHover);
    margin: 6px 0 5px 0;
}

@media screen and (min-width: 850px) {
    img {
        width: 400px;
    }

    .flexRow {
        flex: row;
        flex-wrap: nowrap;
    }

    .project {
        width: fit-content;
    }

    .switch {
        border-top: solid rgba(0, 0, 0, 0.3) 1px;
        border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
        flex-direction: row-reverse;
    }

    .desc {
        padding-left: 40px;
        padding-right: 40px;
    }
}