.myWorkContainer h1{
    text-align: center;
    color: var(--blueHover)
}

.projectContainer {
    width: 85%;
}

.mainContainer{
    display: flex;
    justify-content: center;
}

.projectContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
    width: 90%;
}

.flexRow {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 850px) {
    .project img {
        width: 400px;
        margin: 20px;
    }

    .project {
        width: fit-content;
    }
}