

/* Colors  */
:root {
    --blue: #4151CA;
    --darkGray: #484554;
    --light: #c4c4c4;
    --lightGray: #ACA9BB;
    --red: #BF0E2B;
    --orange: #FF5759;
}

* {
    font-family: 'Barlow', sans-serif;
}

p {
    text-align: left;
    color: var(--darkGray);
    font-family: 'Linden Hill', serif; 
    font-size: 20px;
}

.bio {
    height: 60vh;
    padding: 40px;
}

.bio h4 {
    color: var(--light)
}

.bioContainer {
    display: flex;
    background-image: './blob.svg';
}

.bioContainer img { 
    margin-right: 40px;
    height: 200px;
    width: auto;
    object-fit: cover; 
    border-radius: 50px;
    clip-path: circle(100px at 100px 100px);
}

@media screen and (max-width: 600px) {
    .bioContainer {
        display: block
    }

    
}

