.body {
   padding: 0; 
   margin: 0;
} 

* {
    font-family: 'Barlow', sans-serif;
}

p {
    text-align: left;
    color: var(--darkGray);
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    color: rgb(90, 90, 90);
    font-size: 18px;
}

.bio {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bio h4 {
    color: var(--darkGray);
    font-size: 26pt;
    margin:0;
}

.bio h5 {
    color: rgb(90, 90, 90);
    font-size: 18pt;
    margin-top:6px;
    font-weight: 500;
    max-width: 350px;
}

.bioContainer {
    display: flex;
    background-image: './blob.svg';
}

.bioContainer img { 
    margin-right: 40px;
    height: 200px;
    width: auto;
    object-fit: cover; 
    border-radius: 50px;
    clip-path: circle(100px at 100px 100px);
}

@media screen and (max-width: 600px) {
    .bioContainer {
        display: block
    }

}

.seemore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seemore p {
    margin:0;
    margin-bottom: 8px;
    font-size: 14px;  
    width: fit-content;  
}

.arrow {
    color: var(--blue);
    width: fit-content;  
    margin-bottom: 100px;

}

.arrow:hover {
    transition: ease-in-out 0.3s;
    color: var(--blueHover);
}

.aboutmemain {
    width: 85%;
    margin-bottom: 20px;
    margin-top: 40px;
}

@media screen and (min-width: 1300px) {
    .aboutmemain{
        padding-left: 150px;
        padding-right: 150px;
    }
}
