/* Colors  */
:root {
    --blue: #4f62ec;
    --blueHover: #4151CA;
    --darkGray: #484554;
    --light: #c4c4c4;
    --lightGray: #ACA9BB;
    --red: #BF0E2B;
    --orange: #FF5759;
}

* {
    font-family: 'Barlow', sans-serif;
}

.home {
    position: relative;
    left: 10%;
    top: 20%;
}

.home button {
    background-color: var(--blue);
    color: var(--light);
    display: center;
    border-style: none;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
}

.home button:hover {
    background-color: var(--blueHover);
}

.home h1 {
    color: var(--darkGray);
    font-size: 90px;
    margin: 0;
    padding: 0;
}

.home h4 {
    color: var(--blue);
}

.bg {
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .home h1{
        font-size: 60px;
    }

    .home {
        position: relative;
        left: 10%;
        top: 10%;
    }

    .bg {
        background-position: center;
    }
    
}
