* {
    font-family: 'Barlow', sans-serif;
}

.home {
    position: relative;
    left: 10%;
    top: 20%;
}

.myWorkButton {
    background-color: var(--blue);
    font-family: 'Barlow', sans-serif;
    color: var(--light);
    display: center;
    border-style: none;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
    transition: 0.5s;
}

.myWorkButton:hover{
    background-color: var(--blueHover);
    color: var(--light)
}

.home h1 {
    color: var(--darkGray);
    font-size: 90px;
    margin: 0;
    padding: 0;
}

.home h4 {
    color: var(--darkGray);
}

.bg {
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .home h1{
        font-size: 60px;
    }

    .home {
        position: relative;
        left: 10%;
        top: 10%;
    }

    .bg {
        background-position: center;
    }
    
}
