/* Colors  */
:root {
    --blue: #ffffff52;
    --blueHover: #4151CA;
    --darkGray: #484554;
    --lightGray: #ACA9BB;
    --light: #c4c4c4;
    --red: #BF0E2B;
    --orange: #FF5759;
}

.formContainer {
    display:flex;
    justify-content: center;
    padding: 5px;
}

.linkContainer {
    display: flex;
    justify-content: center;
}

.contact {
    justify-content: space-between;
    background-color: var(--lightGray);
    margin: 20px;
}

.links {
    padding: 20px;
    width: 58.5vw;
    margin-bottom: 10px;
    border-radius: 8px;
}

.linksList {
    display: flex;
    justify-content: space-around;
}

.links a {
    justify-content: space-between;
    font-weight: bold;
    font-size: 14pt;
    justify-content: space-around;
    color: var(--darkGray)
}

.contact h4 {
    color: var(--darkGray);
}

.form {
    background-color: var(--light);
    padding: 10px;
    margin: 10px;
    width: 60vw;
    height: fit-content;
    border-radius: 8px;
    justify-content: center;
}

.form h4 {
    color: var(--darkGray);
    text-align: center;
    font-size: 24pt;
}

input, textarea {
    background-color: rgb(230, 230, 230);
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    border-style: none;
    color: var(--darkGray);
    width: fill;
}

input:focus, textarea:focus {
    border-style: solid;
    border-color: var(--darkGray);
}

.buttonContainer {
    display:flex;
    justify-content: center;
}

.multi button {
    background-color: var(--blue);
    color: white;
    display: center;
    border-style: none;
    border-radius: 5px;
    padding: 10px 30px 10px 30px;
}

.multi button:hover {
    background-color: var(--blueHover);
}

.singles {
    display: flex;
}

.singles div {
    width: 50%;
    justify-content: space-evenly;
}

.multi textarea {
    width: 97.5%;
    height: 150px;
}

.message {
    display:flex;
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 8px;
    margin:8px;
    width: fill;
    justify-self: center;

}

.red {
    display:flex;
    justify-self: center;
    background-color: var(--blue);
}

.green {
    display:flex;
    justify-self: center;
    background-color: var(--red);
}

label {
    color: var(--darkGray);
    display: block;
    margin-left: 10px;
}


@media screen and (max-width: 600px) {
    .singles div {
        width: 100%;
        display: block;
    }

    .singles {
        display: block;
    }
    
}