/* From Google Fonts
font-family: 'Barlow', sans-serif;
font-family: 'Linden Hill', serif; */

/* Colors  */
:root {--blue: #4151CA;
--darkGray: #484554;
--lightGray: #ACA9BB;
--red: #BF0E2B;
--orange: #FF5759;
}

.header {
    display:flex;
    flex: column;
    align-content: center;
}

@media screen and (max-width: 420px) {
    .App {
        margin-left: 0;
        margin-right: 0;
    }
}