:root {
  --blue: #4151CA;
  --blueHover: #161b4b;
  --darkGray: #484554;
  --light: #c4c4c4;
  --lightGray: #ACA9BB;
  --lowContrast: #e8e7f0;
  --red: #BF0E2B;
  --orange: #FF5759;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
