/* Colors  */
:root {
    --blue: #4151CA;
    --darkGray: #484554;
    --lightGray: #ACA9BB;
    --red: #BF0E2B;
    --orange: #FF5759;
}

.link, a, a:visited {
    color: var(--darkGray);
    text-decoration: none;
    font-family: 'Linden Hill', serif; 
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #c4c4c4;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    /* floating header */
    position: center;
    align-self: center;
    max-width: 350px;
}


.header {
    display: flex;
    margin: 40px;
}

body {
    background-color: var(--lightGray);
}

h1 {
    text-align: left;
    color: var(--darkGray);
    font-size: 50pt;
    margin-bottom: 5px;
}

h4 {
    text-align: left;
    color: var(--orange);
    font-size: 18pt;
    margin-top: 5px;
}

.hero {
    background-image: ;
}