/* Colors  */
:root {
    --blue: #4151CA;
    --darkGray: #484554;
    --lightGray: #ACA9BB;
    --red: #BF0E2B;
    --orange: #FF5759;
}

.link, a, a:visited {
    color: var(--darkGray);
    text-decoration: none;
    font-family: 'Linden Hill', serif; 
    padding: 5px;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #c4c4c4;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    position: center;
    max-width: 350px;
}

h4 {
    text-align: left;
    color: var(--orange);
    font-size: 18pt;
    margin-top: 5px;
}

.main {
    margin-top: 20px;
    display:flex;
    justify-content: flex-end;
}

.active {
    text-decoration: underline;
    text-decoration-style: solid;
}