/* Colors  */
/* :root {
    --blue: #4151CA;
    --darkGray: #484554;
    --lightGray: #ACA9BB;
    --red: #BF0E2B;
    --orange: #FF5759;
} */

.logo img {
    width: 50px;
    margin-top: 4px;
}

.navLink, .navLink:visited {
    color: var(--darkGray);
    text-decoration: none;
    font-family: 'Linden Hill', serif; 
    padding: 5px;
    transition: ease-in-out 0.3s;
}

.navLink:hover{
    color: var(--blue);
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 85%;
}

h4 {
    text-align: left;
    color: var(--orange);
    font-size: 18pt;
    margin-top: 5px;
}

.main {
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

.active {
    text-decoration: underline;
    text-decoration-style: solid;
    color: var(--darkGray);
    font-family: 'Linden Hill', serif; 
    padding: 5px;
    transition: ease-in-out 0.3s;
}

.menu {
    display: none;
}

.menu img {
    width: 40px;
}

.miniNav {
    display: none;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

.navButton {
    background-color: var(--blue);
    color: whitesmoke;
    margin-right: 8px;
    margin-bottom: 2px;
    border-radius: 5px;
    border-style: none;
    padding:  8px 10px 8px 10px;
    font-size: 12px;
}

.mainNavContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburgerMenuContainer {
    background-color: transparent;
    border-style: none;
}

@media screen and (max-width: 500px) {
    .navContainer {
        display: none;
    }

    .menu {
        display: flex;
    }
}
